---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Logo from "./Logo.astro";

type Props = {
  prev?: {
    slug: string;
    title: string;
  },
  next?: {
    slug: string;
    title: string;
  },
  logoSize?: 'small' | 'large';
};

const { prev, next, logoSize = 'large'  } = Astro.props;
---

<header class="bg-light/50 dark:bg-dark/80 z-10 backdrop-blur-lg" class:list={[{
  'py-2': logoSize === 'small',
  'py-4': logoSize === 'large',
  'sticky top-0': logoSize === 'small',
}]}>
  <nav class="flex justify-between items-center">
    <HeaderLink href={prev?.slug} title={prev?.title} type="prev" />
    <h1>
      <a href="/" transition:name="logo">
        <Logo class:list={{
          'h-9': logoSize === 'small',
          'w-full ': logoSize === 'large',
        }}/>
      </a>
    </h1>
    <HeaderLink href={next?.slug} title={next?.title} type="next" />
  </nav>
</header>
